
@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&display=swap');

body{
    background-color: aqua;
    color:red;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin:0;
    font-family: epunda slab;
}

button {
    background-color: aquamarine
    color blue;
}